---
layout: not_homepage
---
<div class="project_list">
  <h2 class="heading center"><b>Services:</b></h2>
  {% for project in site.data.projects %}
    {% include project_box.html %}
  {% endfor %}
</div>

<div class="projects-bottom center-align">
  <h1 class="heading">Interested in a particular service? Have any questions or would like to book a free phone consultation with me? Please do not hesistate to contact me at any time. I aim to reply to all emails within 24 hours</h1>
  <div class="row">
    <div class="col m6 offset-m3 s12">
      <div class="row">
        <div class="col s6">
          <a href="/contact"><button type="button" class="fill col s12" name="button">contact</button></a>
        </div>
        <div class="col s6">
          <button type="button" class="fill col s12" id="scroll-top" title="scroll back top" name="button">scroll back top</button>
        </div>
      </div>
    </div>
  </div>
</div>
