<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-179591662-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-179591662-1');
</script>

  <meta charset="UTF-8">
  <meta http-equiv="Expires" content="600" />
  <meta propery="og:type" content="website" />
  <meta property="og:url" content="{{site.url}}" />
  <meta property="og:title" content="Pablo Garcia Cardone" />
  <meta property="og:description" content="Enthusiastic individual with years of experience studying and working at an international level within areas that include Business, Higher Education, E-Commerce and Fitness." />
  <meta property="og:image" content="https://pablogarciacardone.github.io/assets/images/me.jpg" />
  <link rel="shortcut icon" type="image/png" href="https://pablogarciacardone.github.io/assets/images/favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <title>{{site.title}}</title>
</head>
